@page
@model IndexModel
@{
    ViewData["Title"] = "User Details";
}
<form method="post">
    <h2 class="text-center">Product Details</h2>

    <select asp-for="SelectedCategory" asp-items="Model.ListOfCategories" onchange="this.form.submit();" class="dropdown mb-5">
        <option value="">All</option>
    </select>

    <div class="container">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    <div class="card shadow-sm mb-4" style="background-color: #93C47D">
                        <div class="card-body">
                            <h5 class="card-title">@product.productName</h5>
                            <p class="card-text">@product.productCategory</p>
                            <p class="card-text">@product.productDescription</p>
                            <p class="card-text">@product.productPrice</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>


@* @if (!Model.Users.Any())
{
    <div class="alert alert-warning text-center">
        No users found in the database.
    </div>
} *@
